.image-text_section{
    background-size: cover;
    background-position: 50% 50%;
}

.image-section_content-box{
    background: tint(@main-text-color, 90%);
}

.image-section_inner-wrap{
    padding: 80px 15px;
}

.image-section_btn{
    margin: 40px 0 0 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
