<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

  <f:comment></f:comment>
  <f:layout name="ContentFooter" />

  <f:section name="content">
  <!-- theme_test: Templates/ContentElements/iconTextColor.html [begin] -->
    <f:if condition="{settings.blockAsLink}">
      <f:then>
        <f:link.typolink parameter="{data.header_link}" title="{data.subheader}" class="icon-text-color__link">
          <f:render section="iconText" arguments="{_all}"/>
        </f:link.typolink>
      </f:then>
      <f:else>
      <div class="a">
        <f:render section="iconText"  arguments="{_all}"/>
      </div>
      </f:else>
    </f:if>
  <!-- theme_t3kit: Templates/ContentElements/LogoCarousel.html [end] -->
  </f:section>

  <f:section name="iconText">
    <div class="icon-text-color background-color {f:if(condition:settings.backgroundColor,then:'background-color-{settings.backgroundColor}')} {f:if(condition: settings.iconToTheLeft,then:'icon-text-color__iconToTheLeft')}">
      <div class="icon-text-color__iconblock {f:if(condition: settings.iconToTheLeft,then:'icon-text-color__iconblock-iconToTheLeft')}">
          <span class="icon-text-color__icon icons icon-{settings.iconClass} {f:if(condition: settings.iconToTheLeft,then:'icon-text-color__icon-iconToTheLeft')}"></span>
      </div>
      <div class="js__icon-text-color__dotdotdot {f:if(condition: settings.iconToTheLeft,then:'icon-text-color__textblock-iconToTheLeft')}">
        <f:if condition="{data.header}">
          <h4 class="icon-text-color__header">{data.header}</h4>
        </f:if>
        <f:if condition="{data.bodytext}">
              <p class="icon-text-color__p">{data.bodytext}</p>
        </f:if>
      </div>
    </div>
  </f:section>

</div>
