<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="ContentFooter" />


	<f:section name="content">
	<f:debug>{_all}</f:debug>
	<!-- theme_t3kit: Templates/ContentElements/ImageHeaderLink.html [begin] -->
	<div class="img-header-link">
		<div class="img-header-link__imageblock">
      <f:if condition="{image}">
          <f:for each="{image}" as="mediaItem" iteration="imageIteration">
            <f:if condition="{imageIteration.isFirst}">
            <f:media
              file="{mediaItem}"
              width="{f:if(condition: data.imagewidth, then: data.imagewidth, else: settings.defaultWidth)}"
              height="{data.imageheight}"
              alt="{mediaItem.media.alternative}"
              title="{mediaItem.media.title}"
              class="img-responsive"
            />
            </f:if>
          </f:for>
      </f:if>
		</div>
		<div class="img-header-link__contentblock">
	    <f:if condition="{settings.headerAsLink}">
	      <f:then>
	        <f:link.typolink parameter='data.header_link' title="{data.subheader}" class="img-header-link__link">
	          <f:render section="header" arguments="{_all}"/>
	        </f:link.typolink>
	      </f:then>
	      <f:else>
	          <f:render section="header" arguments="{_all}"/>
	      </f:else>
	    </f:if>
			<f:if condition="{data.bodytext}">
				<p class="img-header-link__p">{data.bodytext}</p>
				<hr class="img-header-link__divider">
			</f:if>
			<f:if condition="{settings.textSecond}">
				<p class="img-header-link__p">{settings.textSecond}</p>
				<hr class="img-header-link__divider">
			</f:if>
			<div class="img-header-link__linksblock">
				<f:if condition="{settings.linkFirst_link}">
					<f:link.typolink parameter="{settings.linkFirst_link}" title="{settings.linkFirst}" class="img-header-link__link"><span class="img-header-link__link-icon icons icon-{settings.iconClass}"></span>{settings.linkFirst}</f:link.typolink>
				</f:if>
				<f:if condition="{settings.linkSecond_link}">
					<f:link.typolink parameter="{settings.linkSecond_link}" title="{settings.linkSecond}" class="img-header-link__link"><span class="img-header-link__link-icon icons icon-{settings.iconClass}"></span>{settings.linkSecond}</f:link.typolink>
				</f:if>
				<f:if condition="{settings.linkThird_link}">
					<f:link.typolink parameter="{settings.linkThird_link}" title="{settings.linkThird}" class="img-header-link__link"><span class="img-header-link__link-icon icons icon-{settings.iconClass}"></span>{settings.linkThird}</f:link.typolink>
				</f:if>
			</div>
		</div>
	</div>
	<!-- theme_t3kit: Templates/ContentElements/ImageHeaderLink.html [end] -->
	</f:section>

  <f:section name="header">
    <h3 class="img-text-link__header {f:if(condition:settings.headerAsLink, then:'img-header-link__header-link')}">{data.header}</h3>
	</f:section>

</div>
