<div class="icon-header_wrap">
    {{#if this.iconClass}}
        <span class="icon-header_icon icons icon-{{iconClass}}"></span> 
    {{/if}}
    {{#if this.header}}
        <h3 class="icon-header_header">{{header}}</h3>
    {{/if}}

</div>
