<div class="image-text_section" style="background-image: url('images/bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4 image-section_content-box">
                <div class="image-section_inner-wrap">
                    <h3 class="image-section_heading">Image Section Heading</h3>
                    <p class="image-section_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                    <a class="image-section_btn btn btn-default" data-toggle="modal" data-target="#modal-window">call modal</a>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3>Modal Heading</h3>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
