<div class="image-text_section" style="background-image: url('images/bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4 image-section_content-box">
                <div class="image-section_inner-wrap">
                    <h3 class="image-section_heading">Image Section Heading</h3>
                    <p class="image-section_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitfhghfhor. Ut in nulla enim. Phasellus class aptent taciti sociosqu.</p>
                    <a class="image-section_btn btn btn-default" href="#">call modal window</a>
                </div>
            </div>
        </div>
    </div>
</div>
