<div id="c345" class=" ">
<div class="content-carusel">
<div class="content-list-view content-carousel">
    <div class="swiper-container content-carousel__container js__content-carousel swiper-container-horizontal">
    <!-- Additional required wrapper -->
        <div class="swiper-wrapper content-carousel__wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <div class="swiper-slide content-carousel__slide swiper-slide-active" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div class="content-carousel_item">
                        <img class="content-carousel_img" src="images/spot_image2.jpg" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                             molestie vehicula. Sed auctor neque eu tellus rhoncus
                             ut eleifend nibh porttitfhghfhor. Ut in nulla enim.
                             Phasellus class aptent taciti sociosqu.</p>
                             <a class="content-carousel_link" href="#">link</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide content-carousel__slide swiper-slide-next" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div class="content-carousel_item">
                        <img class="content-carousel_img" src="images/spot_image2.jpg" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                             molestie vehicula. Sed auctor neque eu tellus rhoncus
                             ut eleifend nibh porttitfhghfhor. Ut in nulla enim.
                             Phasellus class aptent taciti sociosqu.</p>
                             <a class="content-carousel_link" href="#">link</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide content-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div class="content-carousel_item">
                        <img class="content-carousel_img" src="images/spot_image2.jpg" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                             molestie vehicula. Sed auctor neque eu tellus rhoncus
                             ut eleifend nibh porttitfhghfhor. Ut in nulla enim.
                             Phasellus class aptent taciti sociosqu.</p>
                             <a class="content-carousel_link" href="#">link</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide content-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div class="content-carousel_item">
                        <img class="content-carousel_img" src="images/spot_image2.jpg" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                             molestie vehicula. Sed auctor neque eu tellus rhoncus
                             ut eleifend nibh porttitfhghfhor. Ut in nulla enim.
                             Phasellus class aptent taciti sociosqu.</p>
                             <a class="content-carousel_link" href="#">link</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide content-carousel__slide" style="width: 237px; margin-right: 30px;">
                <div class="article articletype-0" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div class="content-carousel_item">
                        <img class="content-carousel_img" src="images/spot_image2.jpg" alt="" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nullam in dui mauris. Vivamus hendrerit arcu sed erat
                             molestie vehicula. Sed auctor neque eu tellus rhoncus
                             ut eleifend nibh porttitfhghfhor. Ut in nulla enim.
                             Phasellus class aptent taciti sociosqu.</p>
                             <a class="content-carousel_link" href="#">link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js__content-carousel__pagination news-carousel__pagination swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
    </div>
    <div class="js__content-carousel__btn-prev content-carousel__btn-prev swiper-button-prev swiper-button-disabled"></div>
    <div class="js__content-carousel__btn-next content-carousel__btn-next swiper-button-next"></div>
</div>
</div>
</div>
