
<f:layout name="ContentFooter" />


<f:section name="content">
	<div class="teaser-carousel">
		<div class="swiper-container teaser-carousel__container js__teaser-carousel">
			<div class="swiper-wrapper teaser-carousel__wrapper">
				<f:format.raw>{data.tx_gridelements_view_column_0}</f:format.raw>
			</div>
			<div class="js__teaser-carousel__pagination teaser-carousel__pagination swiper-pagination"></div>
		</div>
		<div class="js__teaser-carousel__btn-prev news-carousel__btn-prev swiper-button-prev swiper-button-disabled"></div>
		<div class="js__teaser-carousel__btn-next news-carousel__btn-next swiper-button-next"></div>
	</div>
</f:section>
